NODE_ENV=development

# PORT
PORT=3001

# DATABASE
DATABASE_URL="postgresql://usernmae:password@localhost:5432/cholestify?schema=public"

# USER
USER_SUCCESS_MESSAGE=Data User Berhasil Ditemukan
USER_NOT_FOUND_MESSAGE=Data User Tidak Ditemukan
USER_EMAIL_ALREADY_EXISTS_MESSAGE=Email Sudah Digunakan

BAD_REQUEST_MESSAGE=Parameter ID / Angka tidak Valid

USER_REGISTER_SUCCESS_MESSAGE=Registrasi Berhasil
USER_LOGIN_SUCCESS_MESSAGE=Login Berhasil
USER_LOGOUT_SUCCESS_MESSAGE=Logout Berhasil
USER_LOGIN_FAILED_MESSAGE=Email atau password salah
USER_EMAIL_ALREADY_EXISTS_MESSAGE=Email sudah digunakan

FORBIDDEN_MESSAGE=Akses Ditolak
UNAUTHORIZED_MESSAGE=User tidak terautentikasi

REFRESH_NOT_FOUND_MESSAGE=Refresh token tidak ditemukan
REFRESH_BAD_REQUEST=Refresh token tidak valid
TOKEN_BAD_REQUEST=Token tidak valid

JWT_ACCESS_SECRET=your_secret
JWT_REFRESH_SECRET=your_refresh_secret

JWT_ACCESS_EXPIRES=30m
JWT_REFRESH_EXPIRES=7d