NODE_ENV=development

# PORT
PORT=3001

# DATABASE
DATABASE_URL="postgresql://username:password@localhost:5432/cholestify?schema=public"


JWT_ACCESS_SECRET=your_secret
JWT_REFRESH_SECRET=your_refresh_secret

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

ADMIN_EMAIL=your_email
ADMIN_PASSWORD=your_password
ADMIN_NOTELP=your_notelp

COOKIE_SECURE=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email.com
SMTP_PASS=your_pass
SMTP_FROM=your_account

FRONTEND_URL=http://localhost:3000


GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=yout_client_secret
GOOGLE_REDIRECT=http://localhost:3001/api/auth/google/callback

# AI INTEGRATION
GEMINI_API_KEY=your_gemini_api_key

CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

FASTAPI_URL=
